.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.wrapper{
	width: 1050px;
	margin: auto;
	padding: 15px;
	background-color: rgb(250, 250, 250);
	box-shadow: 0px 15px 15px #888888;
}

nav{
	box-shadow: 0px 10px 5px #888888;
	margin-bottom: 20px;
	border-bottom: solid black 2px;
	border-radius: 5px;
	clear: both;
	height: 130px;
}

nav img{
	height: 120px;
	width: 100px;
	float: left;
	display: inline-block;
}

nav ul{
	display: inline-block;
	float: right;
	padding: 0px;
	margin: 0px;
	width: 90%;
}

nav li{
	width: 13%;
	display: inline-block;
	text-align: center;
	font-family: 'Oswald', sans-serif; font-weight: 400;
	font-size: 24px;
}

nav a:link{
	text-decoration: none;
	color: black;
}

nav a:visited{
	text-decoration: none;
	color: black;
}

nav a:hover{
	text-decoration: underline;
	color: black;
}

nav li span{
	font-style: italic;
}

#intro img{
	float: left;
	width: 200px;
	height: 296px;
}

#intro{
	background-color: rgba(55, 16, 122, 0.5);
	height: 365px;
	border-radius: 25px;
}

article h1{
	font-family: 'Titillium Web', sans-serif; font-weight: 700;
	font-size: 42px;
	margin-bottom: 10px;
}

#intro p{
	font-family: 'Titillium Web', sans-serif; font-weight: 400;
	margin-right: 10px;
	margin-left: 10px;
	font-size: 16px;
	letter-spacing: 0.3px;
}

#icon-bar div{
	display: inline-block;
}

.hp-icons img{
	width: 100px;
	height: 110px;
	margin: 20px 75px 0px 75px;
}

article h2{
	font-family: 'Titillium Web', sans-serif; font-weight: 700;
	font-size: bold;
	font-size: 36px;
	margin-bottom: 10px;
	text-align: center;
}

.faded{
	opacity: 0.4;
}

#favorite ul{
	width: 40%;
	display: inline-block;
}

ul.favorited{
	list-style-image: url('../images/favorite-bullet-blue.png');
}

.column1{
	margin-left: 90px;
}

.favorited li{
	font-family: 'Titillium Web', sans-serif; font-weight: 400;
	font-size: 16px;
	letter-spacing: 0.3px;
	padding-bottom: 5px;
}

.favorited li span{
	font-weight: bold;
}

#favorite{
	display: none;
}

#map{
	display: none;
}

#sport{
	display: none;
}

#music{
	display: none;
}

.hidden{
	display: none;
}